{erl_opts, [debug_info]}.
{deps, [
   {lager, ".*", {git, "http://192.168.0.88:53000/SisMaker/lager.git", {tag, "3.8.1"}}},
   {eGbh, ".*", {git, "http://192.168.0.88:53000/SisMaker/eGbh.git", {branch, "master"}}},
   {eUtils, ".*", {git, "http://192.168.0.88:53000/SisMaker/eUtils.git", {branch, "master"}}},
   {eArango, ".*", {git, "http://192.168.0.88:53000/SisMaker/eArango.git", {branch, "master"}}},
   {eSync, ".*", {git, "http://192.168.0.88:53000/SisMaker/eSync.git", {branch, "master"}}},
   {genProto, ".*", {git, "http://192.168.0.88:53000/SisMaker/genProto.git", {branch, "master"}}},
   {eNet, ".*", {git, "http://192.168.0.88:53000/SisMaker/eNet.git", {branch, "master"}}},
   {jiffy, ".*", {git, "http://192.168.0.88:53000/SisMaker/jiffy.git", {branch, "master"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [sisSrv]}
]}.
